.git
.github
.idea
.vscode
.env
.env.*
node_modules
vendor
bootstrap/cache/*.php
public/build
public/hot
public/avatars/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.log
README.md
